<div class="main-container" fxLayoutAlign="center center" fxLayout="column" fxFlex="100%">
    <h1>WELCOME TO ROGUE ONE</h1>
    <h2>Para onde gostaria de ir agora?</h2>
    <div fxLayout="row" fxLayoutGap="50px">
        <div fxLayout="column wrap" fxLayoutAlign="center center">
            <button routerLink="/create" mat-fab color="primary"><mat-icon>create</mat-icon></button>
            <span>Cadastrar</span>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="center center">
            <button routerLink="/list" mat-fab><mat-icon>contacts</mat-icon></button>
            <span>Ver contatos</span>
        </div>
    </div>
</div>